@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

// Default medium-gray color
$medium-gray: #cacaca;
// Default global padding
$global-padding: 1rem;
// Global value used for all elements that have a border radius.
$global-radius: 3px;
// Setting the form border color
$form-border-color: $medium-gray;
// Setting the form padding
$form-padding: $global-padding;
// Setting the form border radius
$form-radius: $global-radius;
$header-color-notice: #ff9800;


.log-in-form {
//  border: 1px solid $form-border-color;
//  padding: $form-padding;
//  border-radius: $form-radius;
}

.header-notice {
    color: $header-color-notice;
}
/* Variables */

// Adjust width accordingly (use even #'s)
$logo-width: 63px;
// Reduce px value to increase space between logo and menu text
$logo-padding: $logo-width - 32px; 
// Leave alone
$logo-margin: - ($logo-width / 2);

/* Small Navigation */

#nav-menu{
  background-color: $primary-color-light;
}
#nav-menu ul a{
  background-color: $primary-color-light;
  color:$primary-text-color;
}

.logo-small {
  float: right;
}
.title-bar {
  padding: 0 .5rem;
  background-color: $primary-color-light;
  color:$primary-text-color;
}

.menu-icon,
.title-bar-title {
  position: relative;
  top: 10px;
}
.menu-icon{
    background-color: $primary-text-color;
}
/* Medium-Up Navigation */
@media only screen and (min-width: 40rem) { 
  .logo-wrapper {
    position: relative;
    .logo {
      width: $logo-width;
      height:  53px;
      position: absolute;
      left: 50%;
      right: 50%;
      top: -6px;
      margin-left: $logo-margin;
    }
  }
  // Right part
  .top-bar-right {
    width: 50%;
    padding-left: $logo-padding;
    ul {
      float: left;
      .submenu{
          background-color: $primary-color-light;
      }
    }
    ul li a{
      background-color: $primary-color-light;
      color:$primary-text-color;
    }
    ul li:hover{
        background-color: $primary-color;
        color:white;
    }
    ul li a:hover{
        background-color: $primary-color;
        color:white;
    }
  }
  
  // Left part
  .top-bar-left {
    width:  50%;
    padding-right: $logo-padding + 10;
    
    ul {
      float: right;
    }
    ul li a{
      background-color: $primary-color-light;
      color:$primary-text-color;
    }
    ul li:hover{
        background-color: $primary-color;
        color:white;
    }
    ul li a:hover{
        background-color: $primary-color;
        color:white;
    }
  }
}
.cancel-button {
    @include button(
        $expand:true,
        $background: #ff9800,
        $background-hover:auto,
        $color:auto,
        $style:solid
    );
}
.exit-modal-button {
    @include button(
        $expand:false,
        $background: $primary-color,
        $background-hover:auto,
        $color:auto,
        $style:solid
    );
    float:right;
}

#upload{
    width:300px;
    border-radius:3px;

    margin-top:40%;
    margin-right:auto;
    margin-left:auto;
}

#drop{
    padding:70px 85px;
    border: 10px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-transform: uppercase;

    font-size:16px;
    font-weight:bold;
    color:#7f858a;
}

#drop:hover{
    background-color:$primary-color;
}
#drop a{
    @include button(  
        $expand:false,
        $background: $primary-color,
        $background-hover:auto,
        $color:auto,
        $style:solid
        );

    cursor:pointer;
    display:auto;
    padding-top:6px;
    line-height:1;
}

#drop a:hover{
    background-color:$primary-color;
}

#drop input{
    display:none;
}

#upload ul{
    list-style:none;
    margin-top:20px;
    white-space:nowrap;
    overflow:hidden;
    
}

#upload ul li{
    border-top:1px solid #3d4043;
    border-bottom:1px solid #2b2e31;
    height: 70px;
    white-space:nowrap;
    overflow:hidden;
}

#upload ul li input{
    display: none;
}

#upload ul li p{
    margin-top:auto;
    padding-top:15px;
    padding-left:5px;
    padding-right:10px;
    color: #EEE;
    font-size: 16px;
    font-weight: bold;

}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}



#upload ul li span{
    background: url('../img/icons.png') no-repeat;
    display:inline-block;
    padding-top:20px;
    padding-left:20px;
    height:42px;
    width:15px;
    cursor:pointer;
}

#upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p{
    color:$header-color-notice;
    display:inline-block;
}


#gradesMenu a{
    background-color:$primary-color-light;
    color:$primary-text-color;
    font-size: 16;
    text-align:center;
}
#gradesMenu a:hover{
    background-color:$primary-color;
    color: white;
    font-size: 16;
    text-align:center;
}
#gradesMenu ul{
    font-size: 14;
    text-align:center;
    color:white;
}
#gradesMenu ul li{
    font-size: 14;
    text-align:center;
    color:white;
}
#gradesMenu ul li ul li{
    font-size: 12;
    text-align:center;
}
#searchStudent{
    margin-top:20px;
    color:$primary-text-color;
}

